@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(98% 0.01 90);
  --secondary-background: oklch(98% 0.01 90);
  --card: oklch(100% 0.005 90);
  --card-foreground: oklch(15% 0.05 240);
  --foreground: oklch(15% 0.05 240);
  --main-foreground: oklch(15% 0.05 240);
  --main: oklch(75% 0.15 90);
  --border: oklch(15% 0.05 240);
  --ring: oklch(15% 0.05 240);
  --overlay: oklch(15% 0.05 240 / 0.8);
  --popover: oklch(100% 0.005 90);
  --popover-foreground: oklch(15% 0.05 240);
  --input: oklch(100% 0.005 90);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #ffd700;
  --chart-2: #4a90e2;
  --chart-3: #e63946;
  --chart-4: #4caf50;
  --chart-5: #ff9800;
  --chart-active-dot: #000;
}

.dark {
  --background: oklch(20% 0.02 0);
  --secondary-background: oklch(20% 0.02 0);
  --card: oklch(22% 0.02 0);
  --card-foreground: oklch(90% 0.05 90);
  --foreground: oklch(90% 0.05 90);
  --main-foreground: oklch(15% 0.05 240);
  --main: oklch(75% 0.15 90);
  --border: oklch(95% 0.01 90);
  --ring: oklch(95% 0.01 90);
  --popover: oklch(22% 0.02 0);
  --popover-foreground: oklch(90% 0.05 90);
  --input: oklch(22% 0.02 0);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #ffeb3b;
  --chart-2: #64b5f6;
  --chart-3: #ef5350;
  --chart-4: #66bb6a;
  --chart-5: #ffb74d;
  --chart-active-dot: #fff;
}

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-input: var(--input);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 700;
}

@layer base {
  body {
    @apply text-foreground font-base bg-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  ul,
  ol {
    @apply bg-card;
  }
}
